.webcam-container {
  border: 4px solid springgreen;
}

.webcam-wrapper {
  /* border: 4px solid blue; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.webcam-stream {
  border: 4px dashed magenta;
  justify-content: center;
}

.audio-mic {
  position: absolute;
  top: 15%;
  right: 2%;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.camera-logo {
  position: absolute;
  top: 25%;
  right: 2%;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.upload-logo {
  position: absolute;
  top: 35%;
  right: 2%;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.toggle-logo {
  position: absolute;
  top: 35%;
  right: 2%;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.recording-logo {
  position: absolute;
  top: 45%;
  right: 2%;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.timer {
  position: absolute;
  top: 55%;
  right: 2%;
  padding: 5px;
  color: crimson;
  font-size: 1.2rem;
  font-weight: bolder;
  /* border: 2px solid white; */
  /* cursor: pointer; */
}

.download {
  position: absolute;
  top: 55%;
  right: 2%;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
