.webcam-container {
  border: 5px solid red;
  /* max-width: max-content; */
  /* min-height: max-content; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  position: relative;
}

.webcam-stream {
  border: 5px solid springgreen;
  /* flex: 1 0 auto; */
  margin: 0;
  padding: 0;
}

.camera-logo {
  position: absolute;
  top: 25%;
  right: 2%;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.upload-logo {
  position: absolute;
  top: 35%;
  right: 2%;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.toggle-logo {
  position: absolute;
  top: 35%;
  right: 2%;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}
